services:
  postgres:
    image: postgres:18
    container_name: bank-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: bank
    ports:
      - "5432:5432"
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres -d bank" ]
      interval: 5s
      retries: 5
      timeout: 3s

  bank-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bank-rest-api
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
        - .env
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres_data:
    driver: local
